In [3]:
import MySQLdb

db = MySQLdb.connect(host="interview.cmowtuugqgqn.us-west-2.rds.amazonaws.com",    # your host, usually localhost
                     user="larkdataanalyst50",         # your username
                     passwd="analyst50",  # your password
                     db="innodb")

ModuleNotFoundError: No module named 'MySQLdb'

In [2]:
cur = db.cursor()

# Use all the SQL you like
cur.execute("SELECT * FROM YOUR_TABLE_NAME")

# print all the first cell of all the rows
for row in cur.fetchall():
    print(row[0])

db.close()

NameError: name 'db' is not defined